@font-face {
  font-family: 'Melgis Free';
  src: url('MelgisFree-Regular.woff2') format('woff2'),
      url('MelgisFree-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* font-family: minion-pro,serif;
font-weight: 700;
font-style: normal;

font-family: minion-pro,serif;
font-weight: 700;
font-style: italic;

font-family: minion-pro,serif;
font-weight: 400;
font-style: italic;

font-family: minion-pro,serif;
font-weight: 400;
font-style: normal;
/*