html {
  background-color: #F4F0EC;
}

body {
  scroll-behavior: smooth;
}

.stick-menu {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: #776963;
}
/* comment organiser les trucs là */
.presentation header {
  position: relative;
  background-image: url(../img/frank-main-picture.jpg);
  background-size: cover;
}

.big-amber {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 70px;
}

.preview-box {
  height: 150px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.small-amber {
  height: 25px;
}

.button-left {
  height: 10px;
  top: 325px;
  left: 20px;
}

.button-right {
  height: 10px;
  top: 325px;
  left: 332px;
}

.button-home {
  height: 15px;
}

.button-top {
  height: 15px;
}