@font-face {
    font-family: 'DrumagStudioNF';
    src: url('DrumagStudioNF.woff2') format('woff2'),
        url('DrumagStudioNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

